.calc-container {
	width: 100%;
	padding: 0;
	font-family: PT Sans;
}
input[type="radio"] {
    display:none;            
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    
}

.image {
	width: 100%;
	// position: relative;
	max-width: 100%;

}

.image img {
	width: 100%;

}

.inline-text {
	position: absolute;
	left: 5%;
	top: 30%;
	text-align: center;
	width: 90%;
	background: rgba(255,255,255,0.8);
	font-size: 20px;
	margin: 0 auto;

}


.title-calc {
	text-align: center;
}

.body {
	width: 80%;
	max-width: 80%;
	margin: 0 auto;
}
.form-group {
	margin: 0 auto;
}
.sex, .target, .params, .activity, .result {
	text-align: center;
	background: #f5f5f5;
	padding-right: 15px;
}
.widget-title { 
	display: inline-block;
	text-align: left;
	width: 100%;
	background-color: #a2c43e;
	font-size: 20px;
	font-weight: 600;
	line-height: 60px;
	padding-left: 15px;
	// padding-right: 15px;

}

.widget-label {
	display: inline-block;
	margin: 15px;
	text-align: center;
	padding: 0 15px;
	line-height: 60px;
	background-color: #fff;
	border-radius: 50px;
	font-size: 20px;
	font-weight: 300;
}
.widget-label:hover {
	background: #a2c43e;
	transition: 0.5s;
	cursor: pointer;
}

.mrg {
	margin-right: 0;
}


#male:checked + label,
#female:checked + label,
#weight_loss:checked + label,
#mass_plus:checked + label,
#normal:checked + label,
#a120:checked + label,
#a137:checked + label,
#a146:checked + label,
#a155:checked + label,
#a163:checked + label {
	background: #a2c43e;
	font-weight: 600;
	border: 2px solid #fafafa;
	transition: .5s;
}

.step-input, .step-input > label {
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	margin-left: 20px;
	/*line-height: 60px;*/
}
.step-input > input {
	text-align: center;
	cursor: text;
	padding: 0 20px;
	border: none;
	outline: none;
	-webkit-appearance: none;

}

.step-input > span {
	font-weight: 300;
}
.inline-activity {
	display: inline-block;
}
.active {
	line-height: 30px;
}

.result-button {
	text-align: center;
	padding: 0;
}
.res-hover:hover {
	background-color: #f5f5f5;
	transition: 0.5s;
}

.widget-result {
	background: #fff;
	width: 100%;
	line-height: 60px;
	display: inline-block;
	border: 2px solid #f5f5f5;
	
}

.widget-result h3 {
	padding-left: 15px;
	display: inline-block;
}

.widget-result span {
	color: #a2c43e;
	font-size: 25px;
}

.widget-result button {
	display: inline-block;
	margin: 15px;
	text-align: center;
	padding: 0 15px;
	line-height: 60px;
	background-color: #a2c43e;
	border-radius: 50px;
	font-size: 20px;
	font-weight: 300;

}