<div class="calc-container">
	<div class="image">
		<img src="../../images/calculator.jpg" alt="">
		<div class="inline-text">
			<h2>ДОСТАВКА ЗДОРОВОГО РАЦИОНА ПО ПРОГРАММАМ ПИТАНИЯ</h2>
			<p>Ощутите больше энергии и здоровья в своём теле c помощью сбалансированных программ питания. <br>Компанией Daily Formula представлен широкий выбор программ для мужчин и женщин с разными целями и уровнем активности. <br>Питайтесь правильно и вкусно вместе с нами.</p>
		</div>	
	</div>
	

	<div class="title-calc">
	<h2 class="title">
			ПЕРЕД ВАМИ КАЛЬКУЛЯТОР ИНДИВИДУАЛЬНОЙ НОРМЫ ПИТАНИЯ
	</h2>
	<p>
		При помощи этой системы, указав немного информации о себе - Вы сразу же узнаете рекомендованную специалистами фабрики здорового питания Daily Formula норму калорийности на день именно для Вас.<br>
		Полученное число будет также полезно при выборе программы питания на день/неделю/14 дней.<br>
		Здоровое питание с Daily Formula - это просто, качественно и вкусно!
	</p>
	</div>
	<div class="body">
	<form>
		<div class="form-group sex">
			<label class="widget-title" for="sex"> Укажите Ваш пол: </label> <br>
            <input type="radio" name="sex" value="male" ng-model="sex" id="male"> <label class="widget-label" for="male">Мужcкой</label> 
            <input type="radio"	name="sex" value="female" ng-model="sex" id="female"> <label class="widget-label" for="female">Женский</label>
		</div>

		<div class="form-group target">
			<label class="widget-title" for="target"> К каким результатам Вы стремитесь: </label>
           	<input type="radio" name="target" id="weight_loss" ng-model="target" value="-0.2"><label class="widget-label" for="weight_loss">Похудение</label>
           	<input type="radio" name="target" id="mass_plus" ng-model="target" value='0.1'><label class="widget-label" for="mass_plus">Набор массы</label>
          	<input type="radio" name="target" id="normal" ng-model="target" value='0'><label class="widget-label" for="normal">Поддержание формы</label>
		</div>

		<div class="form-group params">
			<label class="widget-title" >Ваши индивидуальные параметры: </label><br>
			<div class="step-input ">
				<label for="user_age">Возраст:</label>
				<input id="user_age" type="number" class="widget-label" ng-model="age" min="10" max="100" placeholder=" ">
			</div>
			<div class="step-input">
				<label for="user_grew">Рост:</label>
				<input id="user_grew" type="number"  class="widget-label mrg" ng-model="growth" min="130" max="230" placeholder=" ">
				<span>см</span>
			</div>
			<div class="step-input">
				<label for="user_weight">Вес:</label>
				<input id="user_weight" type="number" class="widget-label mrg" required=" 2" ng-model="weight" min="30" max="200" placeholder=" ">
				<span>кг</span>
			</div>
		</div>

		<div class="form-group activity">
			<label class="widget-title" for="">Уровень активности: </label>
			<div class="inline-activity">
				<input type="radio" name="activity" ng-model="activity" id="a120" value='1.20'>
					<label class="widget-label" for="a120">Сидячий образ жизни</label>
			</div>
			<div class="inline-activity">
				<input type="radio" name="activity" ng-model="activity" id="a137" value='1.375'>
				<label class="widget-label active" for="a137">
					<span>Средняя активность</span><br>
					<small>(легкие упражнения 1-3 раз в неделю)</small>
				</label>
			</div>
			<div class="inline-activity">
				<input type="radio" name="activity" ng-model="activity" id="a146" value='1.4625'>
				<label class="widget-label active" for="a146">
					<span>Высокая активность</span><br>
					<small>(интенсивные упражнения 3-5 раз в неделю)</small>
				</label>
			</div>
			<div class="inline-activity">
				<input type="radio" name="activity" ng-model="activity" id="a155" value='1.550'>
				<label class="widget-label active" for="a155">
					<span>Очень высокая активность</span><br>
					<small>(тяжелые физические нагрузки 6-7 раз в неделю)</small>
				</label>
			</div>
			<div class="inline-activity">
				<input type="radio" name="activity" ng-model="activity" id="a163" value='1.6375'>
				<label class="widget-label active" for="a163">
					<span>Экстремальная активность</span><br>
					<small>(занятия интенсивным тренингом 2 раза в день)</small>
				</label>
			</div>
		</div>

		<div class="form-group widget-title result-button" ng-show="goShow == 'false'">
			<button class="widget-label res-hover" type="button"  ng-click="onClickCalculate()">Расчитать</button>
		</div>

		<div class="form-group widget-result" ng-show="goShow == 'true'">
			<h3>Ваша дневная норма калорий (ккал/день): <span>{{result || 0}} </span> </h3> 
			<button class="res-hover" ng-click="onClickNew()">Сделать новый расчет</button>
		</div>
	</form>
	</div>
</div>