<footer ng-controller="FooterController">
	<div class="footer-container">
		<div class="subscribe">
			<h2>Будь в курсе!</h2>
			<p>Подпишись на советы диетолога</p>
			<form action="">
				<input type="text" name="name" required="required" placeholder="  Ваше Имя"><br>
				<input type="email" name="email" required="required" placeholder="  Ваш email"><br>
				<button type="submit">Подписаться</button>
			</form>
		</div>

		<div class="footer_contacts">
			<p>
				<a href="mailto:DailyFormula@com.ua"> DailyFormula@com.ua</a>
				<br>
				<a href="tel:0994534576"> (099) 453-45-76</a>
				<br>
				<a href="tel:0967770011"> (096) 777-00-11</a>
			</p>
			<div class="links">
				<a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
			</div>
			<p class="copyright">
				<i class="fa fa-copyright" aria-hidden="true"></i> 2017 Daily Formula
			</p>
		</div>

		<div class="map">
				<p class="adress">Aдрес: г.Харьков, ул.Сумская 5 <a href="https://goo.gl/maps/p1CZ3xrYSC82" target="_blank"><i>(посмотреть на карте)</i></a></p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.9328988632133!2d36.22979055119875!3d49.993867479313955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f001ed6faf%3A0xf236772a61f868b6!2z0YPQuy4g0KHRg9C80YHQutCw0Y8sIDUsINCl0LDRgNGM0LrQvtCyLCDQpdCw0YDRjNC60L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2MTAwMA!5e0!3m2!1sru!2sua!4v1513774055717" width="450" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</footer>