<header ng-controller="HeaderController">
		<div class="logo">
			<img src="../../images/logo.png" alt="Logo">
			<h2>Daily-Formula</h2>
		</div>
		<div class="nav">
			<nav class="nav-horizontal">
				<ul>
					<li role="menuitem"><a href="/" class="active" >Главная</a></li>
					<li role="menuitem"><a  href="/menu">Программы</a></li>
					<li role="menuitem"><a  href="/calc">Фитнес-калькулятор</a></li>
					<li role="menuitem"><a href="/blog">Блог</a></li>
				</ul>
			</nav>
		</div>
		<div class="contacts">
			<div ><img src="/images/location.png" alt="location"> </div>
			<div class="mr">Харьков</div>
			<div><img class="phone-icon" src="/images/phone.png" alt="phone"> </div>
			<div class="mr">(099) 453-45-76</div>
		</div>
</header>