<section id="mainArticle" class="slider">
		<div class="container" >
			<h2>Доставка сбалансированного питания</h2>
			<article class="promo"> <span style="font-weight: bold">Daily-Formula</span> — это проект для людей,<br> которые хотят правильно, регулярно и <br> разнообразно питаться в течение всего <br>дня, не тратя при этом ни сил, ни времени.
			</article>
			<div class="border"><span>преимущества</span></div>
			<div class="underline"></div>
			<div class="advantages">
				<div class="row1">
					<div class="item food">
						<img src="/images/food.png" alt="food">
						<p>Не нужно постоянно<br> покупать продукты</p>
					</div>
					<div class="item cook">
						<img src="/images/cook.png" alt="cook">
						<p>Вы освобождаетесь <br>от приготовления еды</p>
					</div>
				</div>
				<div class="row2">
					<div class="item kcal">
						<img src="/images/kcal.png" alt="kcal">
						<p>Мы посчитаем <br>калории за Вас!</p>
					</div>
					<div class="item quality">
						<img src="/images/quality.png" alt="quality">
						<p>Блюда только из <br> качественных продуктов</p>
					</div>
				</div>
			</div>
			<div class="link-menu">
				<a href="/menu">Смотреть меню</a>
			</div>
		</div>

	</section>