<div class="blog-container">
	<div class="blog_header">	
		<h2>
			Наш блог
		</h2>
	</div>
	<div class="post_list">

		<div class="post_block">
			<div class="post_img">
				<a href="/post1">
					<img src="../../../images/blog_images/post1.png" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">13.12.2017</p>
				<p class="post_title">КАК СОСТАВИТЬ ПЛАН НА НОВЫЙ ГОД, ЧТОБЫ ВСЕ ЗАДУМАННОЕ СБЫЛОСЬ?</p>
				<p class="preview_text">В декабре многие подводят итоги и ставят грандиозные цели на новый год. Здоровое питание, бассейн, спортзал, утренние пробежки и йога...  Как составить план на новый год, чтобы все задуманное сбылось?  Воспользуемся советами психолога.</p>
				<a href="/post1" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="/post2">
					<img src="../../../images/blog_images/post2.png" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">11.12.2017</p>
				<p class="post_title">КАК ВТИСНУТЬ СПОРТ И ПРАВИЛЬНЫЕ ПРИВЫЧКИ В СВОЙ РАБОЧИЙ ГРАФИК?</p>
				<p class="preview_text">Интервью с Владимиром Зякуном, специалистом по коммуникациям, переплывшим Босфор и преодолевшим Oceanman, специально для проекта “Режим дня успешного человека” от команды Daily Formula.</p>
				<a href="/post2" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="/post3">
					<img src="../../../images/blog_images/post3.png" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">13.11.2017</p>
				<p class="post_title">ПРАВИЛЬНЫЕ ИСТОЧНИКИ ГЛЮКОЗЫ ДЛЯ ТЕХ, КТО "РАБОТАЕТ ГОЛОВОЙ"</p>
				<p class="preview_text">Необходимость сфокусироваться на важной аналитической задаче или активный творческий процесс – штатные отговорки для сладкоежек. И тут понеслось… Правда ли, что сладкое - верный способ вернуть концентрацию и активировать работу мозга?</p>
				<a href="/post3" class="read_more">Читать больше</a>
			</div>
		</div>
		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post4.png" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">06.11.2017</p>
				<p class="post_title">КАК ПОДДЕРЖАТЬ ОРГАНИЗМ ТРУДОГОЛИКА?</p>
				<p class="preview_text">Стресс, апатия, усталость? Как дефицит магния влияет на ваше самочувствие и работоспособность и в каких продуктах искать этот важный микроэлемент?</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post5.jpg" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">30.11.2017</p>
				<p class="post_title">В ЧЕМ СИЛА МОЗГА И НЕ ТОЛЬКО - РЕЦЕНЗИЯ НА КНИГУ ОТ НАТАЛЬЯ РОЛЯ</p>
				<p class="preview_text">В декабре многие подводят итоги и ставят грандиозные цели на новый год. Здоровое питание, бассейн, спортзал, утренние пробежки и йога...  Как составить план на новый год, чтобы все задуманное сбылось?  Воспользуемся советами психолога.</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post6.jpg" alt="">
				</a>	
			</div>
			<div class="preview_body">
				<p class="data">11.10.2017</p>
				<p class="post_title">ПРАВИЛА ПИТАНИЯ ПРИ ДИАБЕТЕ</p>
				<p class="preview_text">Главная задача для человека с диагнозом "сахарный диабет" - организовать диетическое питание. Казалось бы, что может проще? Предлагаем короткий перечень продуктов, разрешенных при сахарном диабете, правила составления рациона и пример меню для диабетика.</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post7.png" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">03.10.2017</p>
				<p class="post_title">КАК ПРОВОДИТЬ УТРЕННИЕ ЧАСЫ С ПОЛЬЗОЙ? - РЕЦЕНЗИЯ НА КНИГУ ОТ АННЫ МЕТЕЛЬСКОЙ</p>
				<p class="preview_text">Как первый час дня влияет на ваш успех? Какие утренние ритуалы помогут стать здоровее, продуктивнее и энергичнее? Анна Метельская рекомендует книгу "Магия утра..."</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post8.jpg" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">25.09.2017</p>
				<p class="post_title">В ЧЕМ СМЫСЛ АДСКОЙ НЕДЕЛИ? - РЕЦЕНЗИЯ НА КНИГУ ОТ АНДРЕЯ ЗИНКЕВИЧА</p>
				<p class="preview_text">"Без жалости к себе..." — это книга, которая только в одной Норвегии продалась в объеме 223 000 экземпляров. В чем её отличие от других книг?  Андрей Зинкевич рекомендует к прочтению.</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post9.jpg" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">22.09.2017</p>
				<p class="post_title">ШОТ-ЛИСТ ПЕРЕКУСОВ В ОФИС</p>
				<p class="preview_text">Даже легкое чувство голода заставит вас думать только о приближении обеда. И здесь уже нет места для важных задач, митингов, планов... Обязательно перекусите чем-то полезным до и после обеда!</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>

		<div class="post_block">
			<div class="post_img">
				<a href="">
					<img src="../../../images/blog_images/post10.png" alt="">
				</a>
			</div>
			<div class="preview_body">
				<p class="data">20.09.2017</p>
				<p class="post_title">ТЕХНОЛОГИЯ COOK&CHILL - КАК ЭТО РАБОТАЕТ В DAILY FORMULA?</p>
				<p class="preview_text">Компания Daily Formula закупила все необходимое оборудование и в полном объеме перешла на технологию Cook&Chill. Как это работает и какие изменения ожидают наших клиентов? - читайте далее....</p>
				<a href="" class="read_more">Читать больше</a>
			</div>
		</div>
	</div>
</div>