<div class="post-container">
	<img src="../../../images/blog_images/post1.png"  class="post-img">
	<div class="post-article">
		<p class="post_title">КАК СОСТАВИТЬ ПЛАН НА НОВЫЙ ГОД, ЧТОБЫ ВСЕ ЗАДУМАННОЕ СБЫЛОСЬ?</p>
		<p>В декабре многие ставят грандиозные цели на новый год. Одним из первых пунктов в список планов входит правильное питание с 1 января... ну ок, с конца января, ближе к февралю, но точно в марте ))))</p>

		<p>Туда же смело вносится бассейн, спортзал, утренние пробежки и йога. Встать на лыжи - легко! Попробовать серфинг на Бали - а как же! А ещё уход и обязательный массаж, ведь себя НАДО любить... </p>

		<p>Как составить план на новый год, чтобы все задуманное сбылось?  Воспользуемся советами психолога.</p>
		<h3>Разбивайте большие цели на посильные задачи</h3>
		<p>Безусловно,  мечтать нужно по-крупному. Но если дело доходит до намерения реализовать свою мечту, стоит разделить её на цели, а цели - на конкретные посильные вам задачи.</p>

		<p>Например, мечта о внешнем преображении может подразумевать несколько целей: похудеть на 10 кг, сменить гардероб,  улучшить состояние кожи... Цели "похудеть" невозможно достичь мгновенно. Это не произойдет вдруг само по себе. </p>
		<p>Значит, нужны задачи: преобрести карту клуба и найти тренера, пересмотреть привычки в питании и получить консультацию диетолога, сдать анализы и записаться к эндокринологу, откорректировать режим и ложиться спать вовремя 21 день (для начала).</p>
		<p>Закрывая задачи, шаг за шагом вы будете приближаться к реализации цели и воплощению мечты. </p>
		<h3>А это точно ваше желание?</h3>
		<p>В нашей жизни сбываются только те планы, которые нам действительно нужны. Например, вы много читали о практике ретрит и даже запланировали себе поездку с группой в Карпаты. Но на самом деле, сплав на байдарках помогает вам справиться с повседневными стрессами лучше, чем любая медитация. И вот, когда подходит время групповой поездки, друзья случайно зовут вас с собой на Днестр... Байдарки, в итоге,  побеждают, а планы снова переносятся на год.</p>
		<h3>Оцените временной ресурс</h3>
		<p>Прежде чем вносить новые виды деятельности в свой новенький еженедельник, проанализируйте, сколько реально свободного времени у вас есть?</p>

		<p>Например, вы хотите по вечерам в бассейн. При этом 3 вечера у вас заняты изучением иностранного языка, по вторникам вы посещаете косметолога, а пятница - точно нет... Вероятно, стоит рассмотреть утренние карты или задействовать выходные, иначе бассейну просто некогда будет свершиться!</p>

		<p>Составьте отдельный список  всех доступных ресурсов - что поможет вам в реализации плана на 2018-й год? У вас есть сбережения, швейная машинка, атомобиль, пароварка, свободный вечер среды или привычка просыпаться рано. Всё пустить в ход! Подумайте, какие ресурсы потребуется привлечь дополнительно? Возможно, сервис по доставке здорового питания позволит освободить время для посещения бассейна? Хм... стоит попробовать!</p>

		<p>Не глядя в гороскопы, скажем, что ваш успех в 2018-м будет зависеть от ваших целей, настойчивости, дисциплины и правильного окружения. Берегите близких и доверяйте экспертам ;) </p>
		<p class="data">13.12.2017</p>
	</div>
</div>