<div class="post-container">
	<img src="../../../images/blog_images/post2.png"  class="post-img">
	<div class="post-article">
		<p class="post_title">КАК ВТИСНУТЬ СПОРТ И ПРАВИЛЬНЫЕ ПРИВЫЧКИ В СВОЙ РАБОЧИЙ ГРАФИК?</p>
		<p>Они двигают большой бизнес и бегут марафоны, запускают социальные проекты и выкладываются в зале, объединяют людей в команды и переплывают пролив, соединяющий Европу и Азию… Их лента в facebook, как сюжет книги в формате «success story». Складывается впечатление, что в их сутках по 60 часов минимум!</p>

		<p>Команда Daily Formula вдохновляет украинцев быть здоровой нацией. Проект «Режим дня успешного человека» - это живые истории от людей, которые нашли время для занятий спортом, активных увлечений и правильного питания в режиме тотальной занятости. Поехали... </p>

		<p>Ваш фитнес-трекер едва дотягивает до 5 тыс шагов +/- прогулка в супермаркет? А он проплыл 10 км в открытом море!</p>

		<p>Вы снова откладываете диету до новогоднего корпоратива? А он решил и смог избавиться от 20 лишних кг!</p>

		<p>Вздыхая ссылаетесь на дом/семью/работу и нехватку времени? А он уверяет, что этого самого времени - вагон! Вопрос лишь в том, как вы лично решили его использовать.</p>

		<p>Наш первый гость, Владимир Зякун, выходец из Донецка, несколько лет назад переехавший в Киев. Работает в крупной компании, где отвечает за внутренние коммуникации в СНГ-регионе</p>

		<h3>Где работаешь? С чем связана твоя деятельность?</h3>
		<p>В компании, которая делает людей счастливыми – разрабатывает компьютерные игры. Я же всю свою сознательную и несознательную жизнь занимаюсь коммуникациями в различном виде.</p>

		<h3>Твоя главная здоровая привычка?</h3>

		<p>Движение – это жизнь, а правильное движение – это правильная жизнь. Стараюсь больше ходить пешком и всегда паркуюсь в двух кварталах от места работы, чтобы прогуляться утренним городом.</p>

		<p>Не пропускаю завтраки. Это же классно – кушаешь овсянку, пьешь капучино, листаешь ленту зловещего фейсбука… Команда Daily Formula верит, что успех измеряется здоровьем.</p>

		<p>Все диеты работают, но при строгих ограничениях в калориях, или полном исключении жиров и углеводов, организм испытывает огромный стресс. Жить в таком режиме невозможно. Человек через какое-то время срывается и входит в «замкнутый круг», набирая лишние килограммы. Наш организм интереснейшая штука – когда мы худеем, то первым делом теряем мышечную массу и только потом жир. А набираем вес наоборот – за счет жира. В итоге после неудачной кратковременной диеты можно выглядеть при одном и том же весе хуже, чем до ее начала. </p>

		<h3>Спорт и питание – смежные темы. На каких принципах построен твой рацион? Как справляешься с ежедневными “кулинарными челленджами”?</h3>

		<p>Они не только смежные, но и сложные. Например, много съешь перед тренировкой – плохо, мало – тоже плохо. А еще хуже, если не то съешь. Нужно найти собственную и только тебе подходящую формулу. Я организовал для себя пятиразовое питание. Ем вовремя. Ем правильную пищу. Только так можно добраться в пункт назначения.</p>

		<p>Многие, и мой опыт не исключение, решая похудеть, первым делом исключают жиры из рациона, или морят себя голодом. Оглядываясь назад, с уверенностью говорю, что это глупости!</p>

		<p>Все диеты работают, но при строгих ограничениях в калориях, или полном исключении жиров и углеводов, организм испытывает огромный стресс. Жить в таком режиме невозможно. Человек через какое-то время срывается и входит в «замкнутый круг», набирая лишние килограммы. Наш организм интереснейшая штука – когда мы худеем, то первым делом теряем мышечную массу и только потом жир. А набираем вес наоборот – за счет жира. В итоге после неудачной кратковременной диеты можно выглядеть при одном и том же весе хуже, чем до ее начала.</p>

		<p>В моем рационе уже два года нет сахара, пакетированных соков, йогуртов, газировки, кетчупа. Список можно продолжить, но это то, что исключил раз и навсегда. Это совсем не означает, что я откажусь от дабл-чизбургера или пиццы. Но заменять ими полноценный обед или ужин – не буду.</p>

		<p>За несколько дней до забега или заплыва ем пасту. Вообще люблю итальянскую кухню! А многие люди живут мифами, что паста - это страшные углеводы, мол “я лучше салатик”. Но ведь салат тоже можно испортить вредными заправками, чем, собственно, грешат некоторые “здоровые фастфуды” и салат-бары. </p>

		<p>С каждым годом время летит все быстрее и быстрее… Понимая это, стараюсь выжать из него по максимуму полезного. Если буду дома и сам, заварю крепкий чай или с бокалом вина окунусь на пару часов в интересную книгу. Читаю сейчас больше на английском, совмещая приятное с полезным. </p>

		<p>Если буду сам в другом городе, просто пойду изучать окрестности, а скорее – выйду на пробежку. Во всех командировках у меня с собой спортивная форма. Бегать в другом городе - неимоверный кайф!</p>
		<p class="data">11.12.2017</p>
	</div>
</div>